@tailwind base;
@tailwind components;
@tailwind utilities;

.font-italianno {
  font-family: var(--font-italianno), cursive;
}

@layer base {
  :root {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    @apply font-sans antialiased;
  }
}